<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login_page</title>
    <link rel="stylesheet" href="../static/css/todo_login.css">
    <script src="../static/js/toDoList.js"></script>
</head>
<body>
    <div class="login-container">
        <div class="header">
            <img src="close_pic.png" alt="배너 이미지">
        </div>
        <div class="login-title">login</div>
        <input id="email" type="email" class="input-field" placeholder=" ID">
        <input id="password" type="password" class="input-field" placeholder=" PW">
        <div class="button-container">
            <button class="signin-btn">sign in</button>
            <button class="signup-btn">sign up</button>
        </div>
        
    </div>
</body>
</html>